/*carousel pagina principal*/
.carousel-inner img {
    width: 100%;
    height: 657px !important;  
    margin: 0;
}
.carousel-caption h3 {
    color: #fff !important;
}
.carousel-caption {
    right: 0%;
    left: 0%;
    padding-bottom: 50px;
}
.indicadores {
    position: fixed;
    z-index: 9999;
    width: 100%;
}
.indicadores h3 {
    font-size: 1.4rem;
}
.indicadores .col-sm-12 {
    padding: 0;
}
.indicadores >.col-sm-2 {
    color:whitesmoke;
    text-align: center;
    background-color: black; opacity: 0.7;
    padding: 1rem 0 1rem 0;
}
.item h3 {
    color: black !important;
    background-color: white;
    font-weight: bold;
    margin-left: 0px;
    margin-top: 0px;
    opacity: 0.4;
    font-size: 37px;
    letter-spacing: 3px;
    padding-top: 10px;
}
.item p {
    color: black !important;
    background-color: white;
    font-weight: bold;
    margin-left: 0px;
    margin-top: 0px;
    opacity: 0.4;
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
/*Menu lateral*/
.menu {
    position: fixed;
    height:100%;
    width: 20%;
    background-color: black;opacity:0.7;
    z-index: 2;
    transition: all .5s;
    left: -300px;
    top: 35px;
}
.openmenu {
    width: 20%;
}
/*Para mover el contenido al abrir el menu (deshabilitado por complicar el responsive)
.movemain {
    margin-left: 20%;
}*/
nav {
    position: absolute;
    width:100%;
}
.nav >li >a {
    position: relative;
    display: block;
    padding: 11px 25px;
}
nav a {
    text-decoration:none;
}
.navbar-right {
    float: right!important;
    margin-right: 15px;
}
a {
    color: #F5F5F5; 
}
#check {
    display:none;
}
#check:checked ~ .menu {
    transform: translateX(300px); /*desplazamiento del menu*/
}
.container{
    width: 100%;
    z-index: 0;
    padding: 65px 0px 0px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    margin-top: 80px;
    text-align: -webkit-right;
}
#icon {
    position: fixed;
    margin: 50px 20px;
    display: inline-block;
    cursor:pointer;
    z-index: 9999;
}
/* Hamburguesa */
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: black; opacity: 0.7;
    margin: 6px 0;
    transition: 0.5s;
}
/*Rotación de la primera barra*/
.change .bar1 {
    background-color: white;
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
/*oculta segunda barra transparentándola*/
.change .bar2 {
    opacity: 0;
}
/*Rotación de la tercera barra*/
.change .bar3 {
    background-color: white;
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
body {
    font: 400 1.8rem Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}
h1 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 2rem;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: darkcyan;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
}
h3 {
    font-size: 20px;
    margin: 0px 0px;
}
h4 {
    font-size: 2rem;
    line-height: 1.375em;
    color: darkcyan;
    font-weight: 400;
    margin-bottom: 20px;
} 
/*¿Cómo funciona?*/
.container {
    padding: 80px 80px;
  }
.person {
    border: 1px solid transparent;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border-width:4px;
    opacity: 0.7;
    margin-top: -45px;
    padding: 15px;
}
.person:hover {
    border-color: red;
    border-width:2px;
}
#demo1 p, #demo2 p, #demo3 p, #demo4 p, #demo5 p, #demo6 p {
    font-size: 1.3rem;
    
    color: red;
    font-weight: lighter;
    border-radius: 5px;
    padding: 5px;
    margin: 8px 0 0px;
}
#como p {
     color: red;
 }
#como h3 {
    font-size: 2.5rem;
    padding: 10px 0 10px 0 ;
    letter-spacing: 2px;
    color: black;
    font-weight: bold;
    opacity: 0.4;
    margin-top: 250px;
    margin-bottom: 20px;
    text-align: center;
}
#como .col-sm-12 {
    padding: 0 50px 0 50px;
}
#como .col-sm-2 {
    padding: 0 5px 0 5px;
}
#como .container {
    padding:0;
}
#como {
    background-color: lightblue;
    background-image: url("../img/escritorio2.jpg");
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 657px;
}
.slideanim {/*no se usa*/
    visibility:hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
/*Condiciones*/
#condiciones {
    padding: 0 0 5rem 0;
    background-color: lightblue;
    background-image: url("../img/mujer-feliz-relajada.jpg");
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 657px;
}
#tasas h2 {
    font-size: 5rem;
    text-transform: uppercase;
    color: black;
    opacity: 0.4;
    margin-top: 100px;
    margin-bottom: 70px;
}
.panel {
    border: 1px solid transparent;
    border-color: green;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-width:4px;
    background-color: white;
    opacity: 0.5;
    margin-top: 0px;
    padding: 15px;
}
.panel h3 {
    font-size: 5rem;
    color: green;
    opacity: 0.8;
    text-align: center;
    padding: 0px;
    margin-top: 17px;
}
.panel h4 {
    font-size: 1.4rem;
    color: green;
    opacity: 0.8;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.panel h5 {
    font-size: 0.9rem;
    color: green;
    opacity: 0.8;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
/*Calculadora*/
#calculadora { 
    padding: 0 0 5rem 0;
    background-color: lightblue;
    background-image: url("../img/pqs-calcular-productividad.jpg");
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 657px;
}
.container-fluid #datos {
    padding: 0px 35px 0px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#calculadora h1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: black;
    opacity: 0.4;
    margin-top: 64px;
    margin-bottom: 20px;
}
#datos button {
    background-color: blue; opacity: 0.5;
    padding: 18px;
}
#datos button >a {
    padding: 5px;
    color: white;
}
#datos button >a:hover {
    color: white;
    text-decoration: none;
    opacity: 0.7;
}
#datos select[size], #datos input {
    height:30px ;
    width:100% ;
    color: black;
    background-color: lightblue;opacity: 0.7;
    font-size: 15px;
}
#datos .col-sm-2, #datos .col-sm-6, #datos .col-sm-4 {
    padding: 5px 5px 5px 5px;
    margin-top: 0;
}
#datos .col-sm-4 p, #datos .col-sm-8 p {
    margin-bottom: 0;
    background-color: darkgoldenrod;opacity: 0.7;
    color: white;
    letter-spacing: 2px;
    font-size: 14px;
}
.col-sm-4 {
    padding: 0px 100px 0px 60px;
}
#datos h2  {
    background-color: blue;opacity: 0.5;
    color: white;
    letter-spacing: 2px;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 1.2rem;
}
#tabla_resulta button >a {
    padding: 5px;
    color: white;
}
#tabla_resulta button >a:hover {
    color: white;
    text-decoration: none;
    opacity: 0.7;
}
table, th, td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    opacity: 0.9;
    border-spacing: 20px;
    border-collapse: collapse;
    font-size: 1.4rem;
}
th {
    width: 20%;
    padding: 5px;
    text-align: center;  
    color: white;
}
td {
    width: 20%;
    padding: 2px 10px 0 10px;
    text-align: right;
    color: black;
    font-weight: bold;
}
.onx {
    color: white;
    background-color: darkgoldenrod;opacity: 0.6;
}
.bss {
    color: white;
    background-color: rgb(187, 5, 5);opacity: 0.6;
}
.btc {
    color: white;
    background-color: darkblue;opacity: 0.6;
}
.usd {
    color: white;
    background-color: black;opacity: 0.6;
}
.green {
    color: white;
    background-color: darkgreen;opacity: 0.6;
}
#tabla_resulta h2  {
    color: black;opacity: 0.5;
    letter-spacing: 4px;
    padding: 0px 0 5px 0;
    margin-bottom: 0px;
}
#tabla_resulta p  {
    letter-spacing: 2px;
    font-size: 13px;
}
#tabla_resulta .col-sm-12 {
    padding: 0 !important;
}
.container-fluid #tabla_resulta {
    padding: 0px 50px 0px 10px;
    margin-top: -30px;
}
/*Preguntas Frecuentes*/
#faq {
    padding: 0 0 5rem 0;
    background-color: lightblue;
    background-image: url("../img/question-mark-2492009_1920-740x380.jpg");
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 657px;
}
#faq .container-fluid {
    padding: 0px 35px 95px 35px;
}
#faq .col-sm-4 {
    padding: 0px 30px 0px 30px;
    margin: 0;
}
#faq p {
    color:white;
    opacity: 0.9;
    font-size: 13px;
    text-align: justify;
}
#faq h2 {
    color: white;  
   
    letter-spacing: 2px;
    padding: 10px 0px 10px 0px !important;
    margin-bottom: 38px;
    margin-top: 57px;
}
#faq h4{
    color: red;
    margin-bottom: 0px;
    font-size: 14px;
}
#faq .col-sm-12 {
    padding-right: 30px;
    padding-left: 30px;
}
/*Contacto*/
#contacto {
    padding: 220px 50px 0 50px;
    background-color: lightblue;
    background-image: url("../img/contact-us1.jpg");
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 480px;
}
.container {
    margin: 0px 0px;
    width: 100%;
}
.container-fluid {
    padding: 62px 50px 50px 50px;
}

.container-color{
    background-color:white;
}
#contacto p {
    color:white;
    opacity: 0.6;
    font-size: 1.7rem;
}
.form-control {
    background-color: white;
    opacity: 0.4;
    color:black;
} 
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}
footer {
    background-color: black;
    color:  white;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
/*Responsive*/
@media (min-width: 1440px) {
}    
@media (min-width: 769px) and (max-width: 1024px) {
}    
@media (min-width: 768px) { 
}
    .indicadores h3 {
        font-size: 1.4rem;
    }
@media screen and (min-width: 425px) {
}
@media (min-width: 321px) and (max-width: 375px) {
}
@media (max-width: 320px) {
    .carousel-inner {
        width: 149%;
        height: 656px;
    }
    #como {
        width: 149%;
        height: 268px;
    }
    #condiciones {
        width: 149%;
        height: 268px;
    }
    #calculadora {
        width: 149%;
        height: 268px;
    }
    #faq {
        width: 149%;
        height: 268px;
    }
    #contacto {
        width: 149%;
        height: 268px;
    }

    
}

