/*carousel pagina principal*/
.carousel-inner img {
    width: 1348px;
    height: 657px !important;  
    margin: 0;
}
.carousel-caption h3 {
    color: #fff !important;
}
.carousel-caption {
    right: 0%;
    left: 0%;
    padding-bottom: 50px;
}
.indicadores {
    position: fixed;
    z-index: 9999;
    width: 1349px;
}
.indicadores h3 {
    font-size: 14px;
}
.indicadores .col-sm-12 {
    padding: 0;
}
.indicadores >.col-sm-2 {
    color:whitesmoke;
    text-align: center;
    background-color: black; opacity: 0.7;;
    padding: 10px 0 10px 0;
}
.item h3 {
    color: white !important;
    margin-left: 0px;
    margin-top: 0px;
    background-color: black; opacity: 0.7;
    font-size: 37px;
    letter-spacing: 3px;
    padding-top: 10px;
}
.item p {
    color: white !important;
    margin-left: 0px;
    margin-top: 0px;
    background-color: black; opacity: 0.7;
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 104px;
}
/*Menu lateral*/
.menu {
    position: fixed;
    height:100%;
    width: 20%;
    background-color: black;opacity:0.7;
    z-index: 2;
    transition: all .5s;
    left: -300px;
    top: 35px;
}
.openmenu {
    width: 20%;
}
/*Para mover el contenido al abrir el menu (deshabilitado por complicar el responsive)
.movemain {
    margin-left: 20%;
}*/
nav {
    position: absolute;
    width:100%;
}
.nav >li >a {
    position: relative;
    display: block;
    padding: 11px 25px;
}
nav a {
    text-decoration:none;
}
.navbar-right {
    float: right!important;
    margin-right: 15px;
}
a {
    color: #F5F5F5; 
}
#check {
    display:none;
}
#check:checked ~ .menu {
    transform: translateX(300px); /*desplazamiento del menu*/
}
.container{
    width: 100%;
    z-index: 0;
    padding: 65px 0px 0px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    margin-top: 80px;
    text-align: -webkit-right;
}
#icon {
    position: fixed;
    margin: 50px 20px;
    display: inline-block;
    cursor:pointer;
    z-index: 9999;
}
/* Hamburguesa */
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: darkgoldenrod; opacity: 0.7;
    margin: 6px 0;
    transition: 0.5s;
}
/*Rotación de la primera barra*/
.change .bar1 {
    background-color: darkgoldenrod;
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
/*oculta segunda barra transparentándola*/
.change .bar2 {
    opacity: 0;
}
/*Rotación de la tercera barra*/
.change .bar3 {
    background-color: darkgoldenrod;
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
body {
    font: 400 1.8rem Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    /*width: 100%;*/
}
h1 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 2rem;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: darkcyan;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
}
h3 {
    font-size: 20px;
    margin: 0px 0px;
}
h4 {
    font-size: 2rem;
    line-height: 1.375em;
    color: darkcyan;
    font-weight: 400;
    margin-bottom: 20px;
} 
/*¿Cómo funciona?*/
.container {
    padding: 80px 80px;
  }
.person {
    border: 10px solid transparent;
    background-color: darkcyan;
    width: 70px;
    height: 70px;
    opacity: 1;
    border-width:4px;
    border-color: darkkhaki;
}
.person:hover {
    border-color: #f1f1f1;
}
#demo1 p, #demo2 p, #demo3 p, #demo4 p, #demo5 p, #demo6 p {
    font-size: 1.3rem;
    color: white !important;
    background-color: darkcyan; opacity: 0.5;
    border-radius: 5px;
    padding: 5px;
    margin: 8px 0 0px;
}
#como p {
     color: darkcyan;
 }
#como .col-sm-3 >p{
    margin: 0 0 -30px;
}
#como h3 {
    font-size: 2.5rem;
    padding: 10px 0 10px 0 ;
    letter-spacing: 2px;
    color: white;
    background-color: darkred; opacity: 0.7;
    margin-top: 25px;
}
#como .container {
    padding: 170px 80px;
}
#como {
    background-color: lightblue;
    background-image: url("../img/funcionamujer.jpg");
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 657px;
}
.slideanim {/*no se usa*/
    visibility:hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
/*Condiciones*/
#condiciones {
    padding: 16rem 0rem 5rem 0rem;
    background-color: lightblue;
    background-image: url("../img/imagenloansboy.png");
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 657px;
}
#condiciones .col-sm-8 h3 {
    font-size: 2.5rem;
    padding: 10px 0 10px 0 ;
    letter-spacing: 2px;
    color: white;
    background-color: darkorange; opacity: 0.7;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
#condiciones .col-sm-8 {
    padding-bottom: 20px;
}
.panel {/*recuadros de las condiciones*/
    border: 5px solid darkcyan; 
    border-radius:8px !important;
    transition: box-shadow 0.5s;
    width: 170px;
    margin-left: 8px;
    margin-bottom: 60px;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer {
    background-color: #fff !important;
    color: darkcyan;
}
.panel-heading  {
    color: #fff !important;
    background-color: darkcyan !important; 
    padding: 10px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-heading h1  {
    font-size: 18px;  
}
.panel-footer {
    background-color: #fff !important;
}
.panel-footer h3 {
    color: green;
    font-size: 60px;
}
.panel-footer h4 {
    color: whitesmoke;
    font-size: 12px;
    background-color: darkgreen; opacity: 0.7;
    border-radius: 5px;
    padding: 5px;
}
/*Calculadora*/
#calculadora { 
    padding: 81px 0px 80px 0px;
    background-color: rgb(65, 62, 62);
}
table, th, td {
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    border-spacing: 20px;
    border-collapse: collapse;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 1.4rem;
}
th {
    width: 20%;
    padding: 5px;
    text-align: center;  
    background-color: rgb(65, 62, 62); 
    color: white;
}
td {
    width: 20%;
    padding: 2px 10px 0 10px;
    text-align: right;
    background-color: rgb(65, 62, 62);
    color: white;
}
.onx {
    background-color: darkgoldenrod;opacity: 0.7;
}
.bss {
    background-color: rgb(187, 5, 5);opacity: 0.7;
}
.btc {
    background-color: darkblue;opacity: 0.7;
}
.usd {
    background-color: rgb(65, 62, 62);opacity: 0.7;
}
.green {
    background-color: darkgreen;opacity: 0.7;
}
#tabla_resulta h2  {
    background-color: black;opacity: 0.5;
    color: white;
    letter-spacing: 4px;
    padding: 10px 0 5px 0 !important;
    margin-bottom: 0px;
}

#tabla_resulta p  {
    background-color: black;opacity: 0.5;
    color: white;
    letter-spacing: 2px;
    padding: 0px 0 10px 0 !important;
    font-size: 18px;
}
#tabla_resulta .col-sm-12 {
    padding: 0 !important;
}
.container-fluid #tabla_resulta {
    padding: 0px 90px 0px 0px;
}
#datos select[size], #datos input {
    height:30px ;
    width:100% ;
    color: black;
    background-color: lightgoldenrodyellow;opacity: 0.7;
    font-size: 15px;
}
#datos .col-sm-4, #datos .col-sm-8, #datos .col-sm-2, #datos .col-sm-12 {
    padding: 5px 5px 5px 5px;
    margin-top: 0;
}
#datos .col-sm-4 p, #datos .col-sm-8 p {
    margin-bottom: 0;
    background-color: darkgoldenrod;opacity: 0.7;
    color: white;
    letter-spacing: 2px;
    font-size: 14px;
}
.col-sm-4 {
    padding: 0px 10px 0px 10px;
}
#datos h2  {
    background-color: black;opacity: 0.5;
    color: white;
    letter-spacing: 2px;
    padding: 10px 15px 10px 15px !important;
    margin-bottom: 35px;
    width: 64%;
    margin-left: 77px;
    margin-top: 50px;
}
/*Preguntas Frecuentes*/
#faq {
    padding: 27px 20px 0px 20px;
    background-color: rgb(1, 49, 1);opacity: 0.9;
}
#faq .container-fluid {
    padding: 0px 35px 95px 35px;
}
#faq .col-sm-4 {
    padding: 0px 30px 0px 30px;
    margin: 0;
}
#faq p {
    color:darkkhaki;
    margin-top: 0px !important;
    font-size: 13px;
    text-align: justify;
}
#faq h2 {
    background-color:darkorange;opacity: 0.9;
    color: white;
    letter-spacing: 2px;
    padding: 10px 0px 10px 0px !important;
    margin-bottom: 20px;
    width: 100%;
}
#faq h4{
   
    color: white;
    margin-bottom: 0px;
    font-size: 14px;
}
#faq .col-sm-12 {
    padding-right: 30px;
    padding-left: 30px;
}
/*Contacto*/
.container {
    margin: 0px 0px;
    width: 100%;
}
.container-fluid {
    padding: 62px 50px 50px 50px;
}

.container-color{
    background-color:white;
}
#contacto p {
    color:darkgoldenrod;
    font-size: 1.7rem;
}
#contacto h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: darkgoldenrod;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 30px;
}
button {
    color: white;
    background-color: darkolivegreen;
}
.form-control {
    background-color: lightgreen;
    color:black;
} 

.bg-grey {
    background-color: rgb(1, 49, 1);opacity: 0.9; background-color: rgb(1, 49, 1);opacity: 0.9;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: darkgoldenrod;
}
footer {
    background-color: rgb(1, 49, 1);opacity: 0.9;
    color: darkgoldenrod;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
/*Responsive*/
@media (min-width: 1440px) {
}    
@media (min-width: 769px) and (max-width: 1024px) {
  
}    
@media (min-width: 768px) {
    
}
@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}
@media screen and (min-width: 425px) {
   
}
@media (min-width: 321px) and (max-width: 375px) {
    body {
        width: 122% !important;
    }
}
@media (max-width: 320px) {
    body {
        width: 154% !important;
    }
}

